networks:
  appnet:

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    extra_hosts:
      - "mssql.default.svc.cluster.local:192.168.0.140"
    container_name: sqlserver
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    networks:
      appnet:
        aliases:
          - mssql.default.svc.cluster.local
    ports:
      - "192.168.0.140:1433:1433"
  auth-api:
    image: ${DOCKER_REGISTRY-}authapi
    extra_hosts:
      auth-api.default.svc.cluster.local : 192.168.0.134
    networks:
      appnet:
        aliases:
          - auth-api.default.svc.cluster.local
    ports:
      - "192.168.0.134:80:80"
    environment:
        - ASPNETCORE_URLS=http://auth-api.default.svc.cluster.local:80
    build:
      context: .
      dockerfile: Xango.Services.AuthAPI/Dockerfile
    depends_on:
       - sqlserver
  coupon-api:
    image: ${DOCKER_REGISTRY-}couponapi
    extra_hosts:
      coupon-api.default.svc.cluster.local : 192.168.0.135
      shoppingcart-api.default.svc.cluster.local : 192.168.0.137
    networks:
      appnet:
        aliases:
          - coupon-api.default.svc.cluster.local
    environment:
        - ASPNETCORE_URLS=http://coupon-api.default.svc.cluster.local:80
    ports:
      - "192.168.0.135:80:80"
    build:
       context: .
       dockerfile: Xango.Services.CouponAPI/Dockerfile
    depends_on:
       - sqlserver
  inventory-api:
    image: ${docker_registry-}inventoryapi
    extra_hosts:
      coupon-api.default.svc.cluster.local : 192.168.0.135
      shoppingcart-api.default.svc.cluster.local : 192.168.0.137
      inventory-api.default.svc.cluster.local : 192.168.0.139
    networks:
      appnet:
        aliases:
          - inventory-api.default.svc.cluster.local
    ports:
      - "192.168.0.139:80:80"
    environment:
        - ASPNETCORE_URLS=http://inventory-api.default.svc.cluster.local:80
    build:
       context: .
       dockerfile: Xango.Services.InventoryAPI/Dockerfile
    depends_on:
       - sqlserver
  product-api:
    image: ${docker_registry-}productapi
    extra_hosts:
      auth-api.default.svc.cluster.local : 192.168.0.134
      coupon-api.default.svc.cluster.local : 192.168.0.135
      product-api.default.svc.cluster.local : 192.168.0.136
      shoppingcart-api.default.svc.cluster.local : 192.168.0.137
      inventory-api.default.svc.cluster.local : 192.168.0.139
    networks:
      appnet:
        aliases:
        - product-api.default.svc.cluster.local
    ports:
      - "192.168.0.136:80:80"
    environment:
        - ASPNETCORE_URLS=http://product-api.default.svc.cluster.local:80
    build:
       context: .
       dockerfile: Xango.Services.ProductAPI/Dockerfile
    depends_on:
       - sqlserver
       - auth-api
       - inventory-api
       - order-api
  order-api:
    image: ${docker_registry-}orderapi
    extra_hosts:
      auth-api.default.svc.cluster.local : 192.168.0.134
      coupon-api.default.svc.cluster.local : 192.168.0.135
      product-api.default.svc.cluster.local : 192.168.0.136
      shoppingcart-api.default.svc.cluster.local : 192.168.0.137
      order-api.default.svc.cluster.local : 192.168.0.138
      inventory-api.default.svc.cluster.local : 192.168.0.139
    networks:
      appnet:
        aliases:
          - order-api.default.svc.cluster.local
    ports:
      - "192.168.0.138:80:80"
    environment:
        - ASPNETCORE_URLS=http://order-api.default.svc.cluster.local:80
    build:
       context: .
       dockerfile: Xango.Services.OrderAPI/Dockerfile
    depends_on:
       - sqlserver
  shoppingcart-api:
    image: ${docker_registry-}shoppingcartapi
    extra_hosts:
      auth-api.default.svc.cluster.local : 192.168.0.134
      coupon-api.default.svc.cluster.local : 192.168.0.135
      product-api.default.svc.cluster.local : 192.168.0.136
      shoppingcart-api.default.svc.cluster.local : 192.168.0.137
      order-api.default.svc.cluster.local : 192.168.0.138
      inventory-api.default.svc.cluster.local : 192.168.0.139
    networks:
      appnet:
        aliases:
          - shoppingcart-api.default.svc.cluster.local
    ports:
      - "192.168.0.137:80:80"
    environment:
        - ASPNETCORE_URLS=http://shoppingcart-api.default.svc.cluster.local:80
    build:
       context: .
       dockerfile: Xango.Services.ShoppingCartAPI/Dockerfile
    depends_on:
       - sqlserver
  xango.web:
    image: ${docker_registry-}xangoweb
    extra_hosts:
      auth-api.default.svc.cluster.local : 192.168.0.134
      coupon-api.default.svc.cluster.local : 192.168.0.135
      product-api.default.svc.cluster.local : 192.168.0.136
      shoppingcart-api.default.svc.cluster.local : 192.168.0.137
      order-api.default.svc.cluster.local : 192.168.0.138
      inventory-api.default.svc.cluster.local : 192.168.0.139
    networks:
      appnet:
        aliases:
          - myhost.local
          - auth-api.default.svc.cluster.local
          - coupon-api.default.svc.cluster.local
          - inventory-api.default.svc.cluster.local
          - product-api.default.svc.cluster.local
          - order-api.default.svc.cluster.local
          - shoppingcart-api.default.svc.cluster.local
    ports:
      - "192.168.0.133:80:80"
    environment:
        - ASPNETCORE_URLS=http://myhost.local:80
    build:
       context: .
       dockerfile: Mango.Web/Dockerfile
    depends_on:
      - auth-api
      - coupon-api
      - inventory-api
      - order-api
      - shoppingcart-api
      - product-api
  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: rabbitmq
    extra_hosts:
      rabbitmq.default.svc.cluster.local : 192.168.0.141
    ports:
      - "192.168.0.141:5672:5672"
      - "192.168.0.141:15672:15672"
    networks:
      appnet:
        aliases:
          - rabbitmq.default.svc.cluster.local
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest 
  queue-api:
      image: ${docker_registry-}queueapi
      container_name: queue-api
      environment:
        RABBITMQ_DEFAULT_USER: guest
        RABBITMQ_DEFAULT_PASS: guest 
        ASPNETCORE_URLS : http://queue-api.default.svc.cluster.local:80

      build:
         context: .
         dockerfile: Xango.Services.QueueAPI/Dockerfile
      extra_hosts:
        queue.default.svc.cluster.local : 192.168.0.141
      ports:
      - "192.168.0.141:80:80"
      depends_on:
      - rabbitmq
  queueprocessor:
      image: ${docker_registry-}queueprocessor
      container_name: queue-processor
      environment:
        RABBITMQ_HOST: rabbitmq.default.svc.cluster.local
        RABBITMQ_USER: guest
        RABBITMQ_PASSWORD: guest
        QUEUE_CHECK_INTERVAL_SECONDS: 15
        MAX_RUNTIME_MINUTES: 2
        AUTH_USER: admin@none.com
        AUTH_PASSWORD: Password1!
        AuthenticaionAPI: http://auth-api.default.svc.cluster.local:80
        OrderAPI : http://order-api.default.svc.cluster.local:80
      build:
         context: .
         dockerfile: Xango.Services.Queue.Processor/Dockerfile
      networks:
        appnet:
          aliases:
            - rabbitmq.default.svc.cluster.local
      depends_on:
        - rabbitmq
        - auth-api
        - order-api
        - xango.web
      extra_hosts:
        auth-api.default.svc.cluster.local : 192.168.0.134
        order-api.default.svc.cluster.local : 192.168.0.138
        rabbitmq.default.svc.cluster.local : 192.168.0.141